@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #ffffff;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,38,11,1) 41%, rgba(74,40,0,1) 100%, rgba(0,0,0,1) 100%);
font-size: 16px;
background: #000000;
}

a{
   text-decoration:none;
}

img{
    max-width: 100%;
}

.wrapper{
 background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,38,11,1) 41%, rgba(74,40,0,1) 100%, rgba(0,0,0,1) 100%);
     width: 100%;
     overflow-x:hidden ;

}

.container{
   max-width: 1800px;
    width: 90%;
   margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo {
    text-transform: uppercase;
    font-size: 40px; 
    font-weight: 800;
}

header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 2;

}

header nav ul li {
    display: inline-block;
}
header nav ul li a{
    color: #ffffff;
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;

}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #DC7000;

}
header nav ul li.btn a,.email.block button{
    background: #DC7000;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover,.email.block button:hover{
    background: #954e02;

} 

.hero{
    padding-bottom: 100px;
    position: relative;
}

.hero--info{
    width: 530px;
    padding-top: 70px;
}
.hero--info h2{
    color: #ed800a;
    font-size: 20px;
    font-weight: 600;

}

.hero--info h1{
    font-size: 50px;
    font-weight: 600;
}

.hero--info p{
    font-weight:500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-about .info .btn{
    background: #DC7000;
    color: #ffffff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover, .hero-about .info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero img{
    position: absolute;
    top: -150px;
    right: 0;

}

.trending{
    padding-top: 50px; 

}

.trending h3{
    font-weight: 600;
    font-size: 35px;

}

.see-all,.projects .see-all {
    display: inline-block; 
    background: #652e06; 
    color: #ffffff; 
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px; 
    text-transform: uppercase; 
    text-align: center;
    transition: all 0.3s ease;
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    width: 150px; 
}

.see-all:hover,.projects.see-all {
    background: #954e02; 
    transform: scale(1.1); 
}

.trending .games {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.trending .games span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.games {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.game-item {
    position: relative;
    text-align: center; 
}

.fire {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px; 
    height: auto;
}

.followers {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.center-text {
    text-align: center; 
    font-size: 40px; 
    font-weight: 700; 
    margin-top: 5px; 
}

.big-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
    padding-bottom: 60px; 
}

.banner{
    padding: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    flex-direction: column;
    display: flex;
}
.banner h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}
.banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 600px;
    
}

.banner img{
    width: 75%;
    margin-bottom: 25px;
}

.features {
    background:url('/img/forest2.png') no-repeat center center fixed;
    background-size: cover;
    padding: 400px 0; 
    text-align: center;
    color: white;
}
  
  .features .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .features h3,.features p{
   text-align: center;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  
  .features .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-content: center; 
    max-width: 1200px
  }
  
  .features .block {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .features .block:hover {
    transform: translateY(-10px);
  }
  
  .features .block img:first-of-type {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .features .block p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .features .block img:last-of-type {
    width: 20px;
    height: 20px;
  }

  .projects{
    padding: 200px 0;
  }
  .projects h3{
    font-size: 40px;
    text-align: center;
  }

.projects p{
    margin: 40px 0;
    text-align: center;
  font-size: 23px;
}
.projects .images{ 
display: flex;
justify-content: space-around;
margin-bottom: 25px;
}
.projects .see-all{
    float:none;
    width: 60px;
    text-align: center;
    margin: auto;
}

.email{
    padding-bottom: 120px;
    
}
.email h3{
    margin-top: 60px;
    font-size: 30px;
}

.email p{
    margin: 0;
    font-family: 16px;
    
}

.email.block {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    border-radius: 10px;
    padding: 25px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email.block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email.block p {
    width: 500px;
    
}

.email.block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: "Poppins", serif;
    font-weight: 400;
    padding: 20px 30px;
    color: #000000;
    position: relative;
    right: -98px;
    z-index: 1;
    padding-right: 120px;
}

.email.block button{
cursor: pointer;
border: 0;
padding: 15px,16px;
position: relative;
z-index: 2;
color: #fff;
}

.hero-about{
    position: relative;

}

.hero-about .info{
    width: 500px;
    padding: 230px 0;
}

.hero-about .info h1{
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn{
    margin-top: 20px;
}

.hero-about img{
    position: absolute;
    right: -150px;
    top: 0;

}

.work{
    padding: 80px 0;
}

.work h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks{
display: flex;
justify-content: space-between;
}

.work .blocks .block{
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge{
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple{
    background: #b000dcf6;
}

.work .blocks .block .badge.brown{
    background: #62240afc;
}

.work .blocks .block .badge.green{
    background: #00dc8bbb;
}


.hero-contacts {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.hero-contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 33px;
   
}

.hero-contacts p{
    text-align: center;
    margin-top: 150px;
    font-size: 19px;
   
}


.hero-contacts img{
    width: 70%;
    margin: 80px 15%;
}

.container.feedback{
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}


.feedback{
    padding: 70px 0;
    background: #1C140F; 
    
}

.feedback h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    
}

.feedback p{
    text-align: center;
    margin-top: 10px;
}

.feedback form{
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline{
    display: flex;
    justify-content: space-between;
}

.feedback form .inline> div{
    width: 50%;
}

.feedback form label{
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea{
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #2c2420;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line{
    width: 96%;
}
.feedback form textarea{
    resize: none;
    height: 200px;
}

.feedback form button{
    background:#DC7000;
    border-radius: 5px;
    border: none;
    float: right;
    cursor: pointer;
    color: #ffff;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover{
    background: #6e1b1b;


}

footer{
    background: #000000;
    padding: 80px 0;
}

footer .blocks{
    display: flex;
    justify-content: space-between;
}

footer .blocks p{
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4{
    font-weight: 500;
    font-size: 17px;

}
footer .blocks ul{
    list-style: none;
}
footer .blocks ul li{
    margin-top: 7px;
}

footer hr{
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc
}

footer >p{
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 300px; 
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

}


@media (max-width: 480px) {
    
    .container {
        width: 100%;
        padding: 0 10px;
    }

    footer .blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu {
        display: block;
    }

    .hero--info h1 {
        font-size: 30px; 
    }

    .hero--info p {
        font-size: 17px; 
    }

    .hero img {
        display: none; 
    }

    .games {
        flex-direction: column; 
        gap: 10px;
    }

    .game-item {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        flex-direction: row; 
        gap: 10px;
    }

    .email p {
    margin: 1px;
    font-family: 16px;
}  
   
        .email.block {
        flex-direction: column; 
        text-align: center;
    }

    .email.block p{
        font-size: 14px;
        width: 377px;
    }

    .email.block input {
        width: 100%;
        margin-bottom: 10px;
        background: #fff;
        outline: none;
        border: 0;
        border-radius: 5px;
        width: 380px;
        font-family: "Poppins", serif;
        font-weight: 400;
        padding: 20px 30px;
        color: #000000;
        position: relative;
        right: -33px;
        z-index: 1;
        padding-right: 120px;
    }
    .center-text {
        text-align: center;
        font-size: 20px;
    }
    .banner p {
        line-height: 170%;
        margin-bottom: 30px;
        width: 420px;
    }

     .features{
        background: url(/img/forest2.png) no-repeat center center fixed;
        background-size: cover;
        padding: 291px 0;
        text-align: center;
        color: white;
        }


.features .block {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    position: relative;
    left: 88px;
}

    .features h3, .features p {
        text-align: center;
        margin-bottom: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 19px;
}

.projects{
    padding: 150px 0;
}

.projects h3 {
    font-size: 40px;
    text-align: center;
}

.projects p{
margin: 40px 0;
text-align: center;
font-size: 20px;

}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
}

}


@media (max-width: 480px) {
    .hero--info h1 {
        font-size: 24px;
    }

    .hero--info p {
        font-size: 12px;
    }

    .btn {
        width: 100%; 
    }

    .features .info {
        grid-template-columns: 1fr; 
    }
}

